.footer {
  background-color: #d5dfe6;
  color: #0af;
  text-align: center;
  padding: 10px 0;

  margin-top: auto;
  height: 100px;

  position: relative;
  margin-top: auto;
  width: 100%;

  font-size: 16px;

  a {
    color: #0af;
    text-decoration: none;
    margin: 0 10px;

    &:hover {
      color: #007bff;
    }
  }
}
