html,
body,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This ensures that the container takes at least the height of the viewport */
}

.main-content {
}

.footer {
  margin-top: auto;
  height: 100px;
  border: 2px solid black;
}
