.bottom-panel-register {
  text-align: center;

  .login-btn {
    color: #0af;
    background-color: #ffffff;
    border: 2px solid #0af;
    padding: 10px 20px;
    border-radius: 5%;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: #007bff;
      color: #fff;
    }
  }

  .login-btn-text {
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .register-btn {
    margin-top: 20px;
    color: #0af;
    background-color: #ffffff;
    border: 2px solid #0af;
    padding: 10px 20px;
    border-radius: 5%;
    transition: background-color 0.5s ease;
    font-weight: 700;

    &:hover {
      background-color: #007bff;
      color: #fff;
    }
  }
}
