.settings-page {
  display: flex;
  margin: 0;
  padding: 0;

  height: 100vh;

  .sidebar {
    flex: 2;
    background-color: #f0f0f0;
  }

  .content {
    flex: 8;
    background-color: #e0e0e0;

    .admin-comp {
      .user-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .small-profile {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border: 1px solid black;
        }
      }
    }
  }
}
